{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% block css_files %}{% endblock css_files %}
    <title>Skywatch | {% block title %}{% endblock title %}</title>
    {% block style %}{% endblock style %}
</head>
<body>
    <div>
        {% include 'sidebar.html' %}
        
        {% block content %}{% endblock content %}
    </div>

    <!-- The Modal -->
    
    {% block scripts %}{% endblock scripts %}     
</body>
</html>